body, p, input, select { font: 15px/18px "Helvetica Neue", Arial, sans-serif; padding:0; margin:0; }

.btn { display: inline-block; padding: 0.6em 1.4em; background: #777; font-weight: bold; border-radius: 0.3em; box-shadow: 1px 1px 6px rgba(0,0,0,0.2); cursor: pointer; text-align: center; border: 0.1em solid #ffffff80; }

.btn:hover { border-color: white; }
/* .btn:active { padding: 0.7em 1.3em 0.5em 1.5em; border-color: white; } */
.btn:active { margin: 1px -1px -1px 1px; box-shadow: 0px 0px 3px rgba(0,0,0,0.2);}

.btn.btn-green { background: #21d221; }
.btn.btn-green:hover { background: #32f532; }
.btn.btn-blue { background: #77f; }


.loading { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.75); text-align: center; color: #999; font-weight: bold; font-size: 2.5em; padding: 25%; }


#status-bar { display: grid; grid-template-columns: 12em 1fr 8em; align-items: center; background: #ececec; border-bottom: 1px solid #00000020; position: fixed; left: 0.4em; right: .4em; top: .2em; padding: 0.2em 1em; border-radius: 0.3em; box-shadow: 2px 2px 5px #00000022; }

#parameter-found { font-size: 12px; }
#parameter-found .ok { color: #008400; text-shadow: 0px 0px 3px #7bff6d; }
#parameter-found .error { color: #f44; }

#refresh-btn { font-size: 12px; color: #555; cursor: pointer; }
#refresh-btn:hover { text-decoration: underline; }
#save-btn {}


#editor { padding-top: 3em;  }
#editor pre { background: white; }




#logo { bottom: 1em; position: fixed; /* z-index: 999; */ /* top: 0; */ right: 1em; width: 7em; }
